body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* Light gray background */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff; /* White background for the form */
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #113f81; /* Primary color */
}

p {
    text-align: center;
    color: #666;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #113f81; /* Primary color for input border */
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #113f81; /* Primary color for button */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #113f81; /* Darker shade for hover effect */
}

.message {
    text-align: center;
    margin-top: 20px;
}

.message a {
    color: #113f81; /* Primary color for link */
    text-decoration: none;
}

.message a:hover {
    text-decoration: underline;
}